@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap");
body {
  margin: 0;
  padding: 0;
  clear: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #4FBDB6;
  overflow-x: hidden;
}

.principal {
  width: 100vw;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #4fbd6b;
  color: #fff;
  padding: 10px 20px;
}

.navbar {
  max-width: 90vw;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.navbar ul li {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.navbar ul li a:hover, .navbar ul li a:active {
  color: #4fbd6b;
  background: #fff;
}

.navbar .logo h3 {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  letter-spacing: 3px;
}

.navbar .logo h3 .rot {
  display: inline-block;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  position: relative;
  right: 7px;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.navbar .menu {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu li {
  margin-left: 30px;
}

.navbar .menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
}

.hamburguer {
  width: 30px;
  height: 30px;
  left: 20%;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  display: none;
  cursor: pointer;
}

.hamburguer:after {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 35%;
  left: 15%;
  width: 70%;
  height: 5%;
  border-radius: 5px;
}

.hamburguer:before {
  content: "";
  background-color: #fff;
  position: absolute;
  top: 55%;
  left: 15%;
  width: 70%;
  height: 5%;
  border-radius: 5px;
}

.content {
  background: #deffe6;
  padding: 10%;
  padding-top: 90px;
  padding-bottom: 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content img {
  width: 65%;
}

.content label {
  display: block;
}

.content label a {
  color: #4fbd6b;
  font-size: .7em;
}

.content h1, .content h2, .content h3, .content strong {
  color: #415245;
}

.content p, .content ul li, .content dl dd {
  color: #557a5e;
}

.content iframe {
  width: 65%;
}

@media screen and (max-width: 960px) {
  .navbar {
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 20px;
  }
  .hamburguer {
    display: block;
    z-index: 999;
  }
  .menu {
    max-width: 250px;
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 50px;
    right: -100%;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 100px 20px;
    background-color: #4fbd6b;
    display: none;
  }
  .menu li {
    margin-bottom: 40px;
  }
  .menu.active {
    right: 0;
    display: block;
  }
  .content {
    padding: 10px;
    padding-top: 90px;
  }
}

.back {
  position: relative;
  border-radius: 26px;
  background: #deffe6;
  -webkit-box-shadow: 10px -10px 10px -10px #c8e6cf;
          box-shadow: 10px -10px 10px -10px #c8e6cf;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: initial;
  max-width: 80%;
}

.back ul {
  list-style: none;
}

.back ul li i {
  margin: 10px;
}

.final {
  background: #4fbd6b;
  margin: auto;
  max-width: 90%;
  padding: 10px;
  border-radius: 20px;
}

.final ul {
  list-style: none;
}

.final ul li {
  color: #deffe6;
}

.final h3 {
  color: #fff;
}

.final .call {
  background: #deffe6;
  display: inline;
  color: #4fbd6b;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.teachers {
  text-align: center;
}

footer {
  background: #4FBDB6;
  color: #fff;
  font-size: 14px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer .diagnostic {
  font-weight: bold;
}

footer .support img {
  width: 10%;
}
/*# sourceMappingURL=style.css.map */